<form class="form-horizontal">
	<h3>OctoLight settings</h3>
    <div class="control-group">
        <label class="control-label">{{ _('Light PIN') }}</label>
        <div class="controls">
            <input type="number" class="input-block-level" data-bind="value: settings.plugins.octolight.light_pin">
        </div>
    </div>
</form>