<form class="form-horizontal">
	<h3>OctoApp settings</h3>
	<div class="control-group">
	  <p>OctoApp will automatically detect this plugin!</p>
		<p>Get OctoApp on <a href="https://play.google.com/store/apps/details?id=de.crysxd.octoapp&hl=en&gl=US">Google Play!</a></p>
		<a href="https://play.google.com/store/apps/details?id=de.crysxd.octoapp&hl=en&gl=US">
			<img src="https://github.com/crysxd/OctoApp-Plugin/raw/master/images/google_play.png"/>
		</a>
	</div>
</form>
